{% extends 'students/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class='row'>
    <div class='col-sm'>
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary value=" submit">
                    <input type="reset" class="btn btn-primary value=" reset">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}