{% extends 'students/base.html' %}

{% block main %}
{% if object_list %}
<table class='table table-hover table-striped' align='center'>
    <thead>
        <tr>
            <th>접수 번호</th>
            <th>접수 날짜</th>
            <th>학생</th>
            <th>문제</th>
            <th>해결 여부</th>
        </tr>
    </thead>

    {% for object in object_list %}
    <tr>
        <td width=10%><a href="{% url 'problem-detail' object.id %}">{{forloop.counter}}</a></td>
        <td width=20%>{{object.date}}</td>
        <td width=20%><a href="{% url 'student-detail' object.student_id %}">{{object.student}}</a></d>
        <td>{{object.problem}}</td>
        <td width=10%>{% if object.finished %}완료{% else %}미완료{%endif%}</td>
    </tr>
    {% endfor %}
</table>
<br />
{% else %}
<div class="alert alert-primary" role="alert">
  현재 처리하지 않은 Problem이 없습니다.
</div>
{% endif %}


<button type="button" class="btn btn-success float-right"
    onclick="location.href='{% url "problem-create" %}'">등록</a></button>
{% endblock %}