{% extends 'students/base.html' %}

{% block main %}
{{object}}
<br>
Cell : {{object.phone}}<br>
Parents Cell : {{object.parents_phone}}<br>
{% for study in object.regular_set.all %}
{{study.days_of_week|upper}} - {{study.time}}<br>
{% endfor%}
With {{object.regular_set.first.teacher}}
<br>
<a class="btn btn-success" href='{% url "student" %}'>목록으로</a>
<a class="btn btn-success" href='{% url "student-update" object.id %}'>수정하기</a>
<a class="btn btn-success" href='{% url "student-delete" object.id %}' onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
{% endblock %}